# --- LANGFUSE --- (optional)

LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""

# --- AUTHENTICATION ---

AUTH_SECRET_KEY=""
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=30
AUTH_DUMMY_HASH=""

# --- DATABASE ---

DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
DB_NAME=""

# --- API KEY ENCRYPTION  ---

ENCRYPTION_KEY=""