
@import "tailwindcss";

:root {
  background-color: #fff4ea;
  /*background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='20 20 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.3'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/

  /*background-color: #eddcc6;*/
  /*background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/

  /*background: #BF4546;*/
  /*background: linear-gradient(128deg, rgba(191, 69, 70, 0.7) 1%, rgba(237, 220, 198, 1) 56%, rgba(125, 172, 181, 0.35) 100%);*/
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* Remove default React Flow node styles */
.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-selector {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* If you are using a custom type, target the generic node class */
.react-flow__node {
  background: transparent !important;
  border: none !important;
}